.footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: 160px;
    &-heading {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 30px;
    }
    &-link {
        color: $gray-dark;
    }
    &-item {
        margin-bottom: 25px;
    }
    &-logo {
        display: inline-block;
        margin-right: 180px;
    }
    &-desc {
        margin: 40px 0 40px;
        max-width: 250px;
        line-height: 1.5;
    }
    &-link:not(:first-child) {
        margin-left: 15px;
    }
    @media screen and (max-width: 767px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 50px 20px;
    }
}

.social {
    display: inline-flex;
    &-link {
        width: 40px;
        height: 40px;
        border-radius: 100rem;
        display: flex;
        justify-content:center;
        align-items:center;
        padding: 5px;
        color: white;
    }
    
    
}