.intro {
    display: flex;
    margin-top: 80px;
    &-heading {
        text-transform: uppercase;
        padding: 30px 0 30px 30px;
        position: relative;
    }
    &-content {
        padding-right: 130px;

    }
    &-heading::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 24px;
        background-color: $primary-color;
        top: 47%;
        left: 0;
    }
    &-title {
        margin-bottom: 20px;
        font-size: 55px;
        line-height: 1.4;
        span {
            display: block;
        }
    }
    &-desc {
        margin-bottom: 40px;
        font-weight: 200;
        color: $text-blur;
        line-height: 1.4;
    }
    @media screen and (max-width: 1024px){
        &-content {
            padding-right: 20px;
        }
    }
    @media screen and (max-width: 767px) {
        
        display: block;
        margin-top: 0;
        & > * {
            width: 100%;
            padding: 0;
        }
        &-content {
            margin-bottom: 30px;
        }
        &-title {
            font-size: 40px;
        }
        &-desc {
            margin-bottom: 30px;
        }
    }

    
}